#cover
ul#main
  li#colorname COLOR NAMES
  li#rgb click anywhere
  li#hex


#results
  input#search(type="text" placeholder="Search By Name")
  ul
  
#recent
  p Recent
  ul
    li
    li
    li
    li

#info 
  a(href="#")
    h1 ?
  p Color names sourced from #[a( target="_blank" href="http://blog.xkcd.com/2010/05/03/color-survey-results/") xkcd]. Site by #[a(target="_blank" href="http://jamesarmenta.com") James Armenta]
